.superadmin-layout {
  position: relative !important;
  background-color: var(--color-bg-base);
}

.superadmin-content-layout {
  background-color: var(--color-bg-base);
  min-height: 100vh;
  width: 100%;
}
