@use '../base/mixins' as *;

.logo {
  @include flexbox(row, center, center);
  padding: 0.4rem 0 2.5rem;
  overflow: hidden;
  font-size: 2.5rem;
  cursor: pointer;

  .logo-icon {
    user-select: none;
    color: var(--text-title) !important;
  }

  .logo-text {
    margin-left: 0.5rem;
    user-select: none;
    transition: opacity 0.3s ease, width 0.3s ease;
    font-size: 2rem;
    color: var(--text-title) !important;
  }

  .not-collapsed {
    display: block;
  }

  .collapsed {
    display: none;
  }

  @media (max-width: 768px) {
    font-size: 2rem;

    .logo-text {
      font-size: 1.7rem;
    }
  }
}
