@use '../base/mixins' as *;

.logo {
  @include flexbox;
  padding: 0.5rem 0 2.3rem;
  overflow: hidden;

  svg {
    flex-shrink: 0;
  }

  .logo-text {
    display: block;
    margin-left: 0.5rem;
    transition: opacity 0.3s ease, width 0.3s ease;

    &-collapsed {
      display: none;
    }
  }


}

