@use '../base/variables' as *;
@use '../base/mixins' as *;

.header-design {
  height: $navbar-height;
  background-color: inherit;
  position: fixed;
  top: 0;
  z-index: 100;
  max-width: 100vw;
  overflow-x: hidden;

  @media (max-width: 768px) {
    height: 80px;
    padding: 0 0.5rem;
  }
}

.navbar {
  @include flexbox(row, space-between, center);
  height: 100%;
  padding: 0 1.5rem;

  @media (max-width: 768px) {
    padding: 0 0.5rem;
  }

  h1 {
    text-transform: capitalize;
    font-size: 3rem;
    margin: 0;
    color: var(--text-title);

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }
}

.profile-div {
  @include flexbox(row, space-between, center);
  background-color: var(--color-bg-container);
  box-shadow: 0 7px 10px var(--shadow-color);
  min-width: 280px;
  padding: 0 1rem;
  font-size: 1rem;
  border-radius: 8px;
  color: var(--text-main);
  flex-shrink: 0;

  @media (max-width: 768px) {
    width: auto;
    min-width: 0;
    padding: 0.2rem 0.5rem;
    justify-content: flex-end;
  }

  h4 {
    @media (max-width: 768px) {
      display: none;
    }
  }

  .moon-icon {
    font-size: 1.5rem;
    padding: 0.3rem;
    border-radius: 50%;
    color: var(--text-title) !important;


    @media (max-width: 768px) {
      font-size: 1.2rem;
    }


    &:hover {
      cursor: pointer;
      background-color: var(--extra-color);
    }
  }
}

.profile-image {
  width: 45px;
  aspect-ratio: 1 / 1;
  padding: 0;
  border-radius: 0.5em;
  overflow: hidden;

  @media (max-width: 768px) {
    display: none;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.admin-buttons {
  @include flexbox(row, center, center);
  gap: 1rem;
}

.admin-icon {
  @include flexbox(row, center, center);
  background-color: var(--color-bg-container);
  padding: 0.3rem;
  font-size: 1rem;
  border-radius: 15px;
  color: var(--text-main);
  flex-shrink: 0;
  box-shadow: 0 7px 10px var(--shadow-color);

  .moon-icon {
    font-size: 1.5rem;
    padding: 0.3rem;
    border-radius: 50%;
    color: var(--text-title) !important;

    .anticon {
      @media (max-width: 768px) {
        font-size: 6rem;
      }
    }

  }

  &:hover {
    cursor: pointer;
    background-color: var(--extra-color);
  }
}
