@use '../base/variables' as *;
@use '../base/mixins' as *;

.sidebar-design {
  background-color: var(--color-bg-container);
  @include box-shadow;
  height: 100vh;
  padding: 20px 16px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100 !important;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  @include flexbox(column, space-between, stretch);

  .sidebar {
    height: 100%;
    @include flexbox(column, space-between, stretch);
  }

  // Remove border
  .ant-menu,
  .ant-menu-vertical,
  .ant-menu-inline {
    border-right: none !important;
    background: transparent;
  }

  .ant-menu-item {
    border-right: none !important;
    font-size: 1rem;
    height: 45px;
    line-height: 45px;
    margin-bottom: 1rem;
    font-weight: 500;
    color: var(--text-main);

    &:hover {
      background-color: var(--extra-color) !important;
      color: var(--text-main) !important;
    }

    &:active {
      background-color: var(--color-primary) !important;
      color: var(--button-text-bg) !important;
      border-radius: 8px;
    }

    .anticon {
      margin-inline-end: 12px;
      font-size: 1rem;
    }
  }

  // Active item
  .ant-menu-item-selected {
    background-color: var(--color-primary) !important;
    color: var(--button-text-bg) !important;
    border-radius: 8px;
    transition: width 1s ease-in;

    &:hover {
      background-color: var(--color-primary) !important;
      color: var(--button-text-bg) !important;
    }

    .anticon {
      color: var(--button-text-dark-bg) !important;
    }
  }

  .sidebar-bottom {
    padding-top: 24px;

    .user-profile {
      @include flexbox(row, center, center);
      width: 100%;
      cursor: pointer;
    }

    .user-info {
      @include flexbox(row, space-between, center);
      width: 100%;
      padding: 10px;
      border-radius: 50px;
      color: var(--button-text-bg);
      background-color: var(--extra-color);
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      transition: background-color 0.3s;

      .user-info-text {
        font-weight: normal;
        font-size: 0.8rem;
        color: var(--text-secondary);

        p {
          margin-bottom: 0;
          font-size: 0.7rem;
          line-clamp: 1;
        }
      }

      .anticon {
        color: var(--text-secondary);
      }
    }

    .ant-menu {
      border-right: none;
    }

    .custom-collapse {
      margin-top: 12px;
      width: 100%;
      background-color: var(--color-primary);
      color: var(--button-text-bg);
      border: none;
      padding: 10px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 1rem;
      transition: background-color 0.3s;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

// User menu styling
.user-sidebar {
  .ant-menu-item {
    font-size: 18px;
    height: 52px;
    line-height: 52px;

    .anticon {
      font-size: 18px;
    }
  }
}

// Profile pic
.user-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

// Text container
.user-info-text-container {
  @include flexbox(row, flex-start, center);
  gap: 0.5rem;
  width: 100%;
  font-size: 1rem;
  color: var(--text-main);
}

@media (max-width: 768px) {
  .sidebar-design {
    padding: 10px 8px;
    border-radius: 0;

    .ant-menu-item {
      font-size: 0.8rem;
      height: 35px;
      line-height: 35px;

      .anticon {
        font-size: 0.8rem;
        margin-inline-end: 6px;
      }
    }

    .sidebar-bottom {
      .user-info {
        padding: 6px;
        font-size: 0.8rem;

        .user-info-text {
          font-size: 0.7rem;

          p {
            font-size: 0.6rem;
          }
        }
      }

      .custom-collapse {
        font-size: 0.8rem;
        padding: 6px;
      }
    }
  }

  .user-sidebar {
    .ant-menu-item {
      font-size: 0.8rem;
      height: 38px;
      line-height: 38px;

      .anticon {
        font-size: 0.9rem;
      }
    }
  }

  .user-profile-pic {
    width: 28px;
    height: 28px;
    margin-right: 4px;
  }

  .user-info-text-container {
    font-size: 0.8rem;
    gap: 0.3rem;
  }
}

.popover-content {
  @include flexbox(column, center, center);

  .logout-button {
    width: 100%;
    cursor: pointer;
    height: 40px;
    border-radius: 8px;
    font-size: 1.1rem;
    border: none;
    color: var(--text-main);
    background-color: var(--card-color);
    padding: 0 1rem;

    &:hover {
      background-color: var(--shadow-color) !important;
    }
  }
}

.ant-popover-inner {
  background-color: var(--card-color) !important;
}

.ant-popover-arrow::before {
  background-color: var(--card-color) !important;
}

.ant-popover-inner {
  padding: 5px !important;
}