@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.issue-list-item-container {
  border-bottom: none !important;
}

.issue-list, .admin-issue-list {
  .issue-list-item {
    max-height: 400px;
    padding: 1rem;
    border-radius: 0.8rem;


  }

  .issue-list-item {
    background-color: var(--card-color);
    color: var(--text-main);
    border: 1px solid var(--border-color);
    width: 100%;
  }

  .content-div {
    h2 {
      font-size: 1.2rem;
    }

    .description {
      font-size: 0.9rem;
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      width: 85%;
      @media (max-width: 992px) {
        width: 100%;
        -webkit-line-clamp: 2;
      }
    }


    .issue-bottom {
      @include flexbox(row, space-between, center);
      width: 100%;
      margin-top: 0.5rem;

      div {
        @include flexbox(row, flex-start, flex-start);
        gap: 0.5rem;
      }

      @media (max-width: 992px) {
        @include flexbox(column, flex-start, stretch);
        gap: 0.8rem;


        button {
          width: 100%;
        }
      }
    }
  }
}

.impact-tag, .urgency-tag {
  &.low {
    color: #2d6a2d;
    background: #c8f7c5;
    border: none;
  }

  &.medium {
    color: #856404;
    background: #fff3cd;
    border: none;
  }

  &.high {
    color: #8a2d2d;
    background: #f7c5c5;
    border: none;
  }
}

.disabled-button {
  background-color: var(--color-primary) !important;
  color: var(--text-main) !important;
  border: none;
  cursor: not-allowed;
  opacity: 0.8;
}


.ant-list {
  overflow: auto !important;
}