@use '../base/variables' as *;

// Light theme variables
.theme-light {
  --text-main: #{$light-text-main};
  --text-secondary: #{$light-text-secondary};
  --text-title: #{$light-text-title};
  --button-text-bg: #{$button-text-color};
  --color-primary: #{$primary-color};
  --color-bg-base: #{$light-bg-main};
  --color-bg-container: #{$light-bg-container};
  --hover-color: #{$hover-color};
  --bar-color-1: #{$chart-color1};
  --bar-color-2: #{$chart-color2};
  --bar-color-3: #{$chart-color3};
  --card-color: #{$light-card-bg};
  --border-color: #{$light-border-color};
  --shadow-color: #{$light-shadow-color};
  --extra-color: #{$light-extra-bg};
  --axis-color: #{$light-text-secondary};
  --danger-color: #{$danger-color};
}

// Dark theme variables
.theme-dark {
  --text-main: #{$dark-text-main};
  --text-secondary: #{$dark-text-secondary};
  --text-title: #{$dark-text-title};
  --button-text-bg: #{$button-text-color};
  --color-primary: #{$primary-color};
  --color-bg-base: #{$dark-bg-main};
  --color-bg-container: #{$dark-bg-container};
  --hover-color: #{$hover-color};
  --bar-color-1: #{$chart-color1};
  --bar-color-2: #{$chart-color2};
  --bar-color-3: #{$chart-color3};
  --card-color: #{$dark-card-bg};
  --border-color: #{$dark-border-color};
  --shadow-color: #{$dark-shadow-color};
  --extra-color: #{$dark-extra-bg};
  --axis-color: #{$dark-text-secondary};
  --danger-color: #{$danger-color};
}
