@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.super-admin-dashboard {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3rem;
  color: var(--text-main);
  padding: 2rem;
  height: calc(100vh - #{$navbar-height});
  overflow: auto;
}

.super-admin-dashboard-table {
  height: 100%;
  grid-column: span 5;
  background-color: var(--color-bg-container);
  @include box-shadow;
  border-radius: 1em;
  padding: 3rem;
  @include flexbox(column, flex-start, flex-end);
  gap: 2rem;

  .add-admin {
    height: 40px;
  }

  .issues-table-wrapper {
    flex: 1;
    width: 100%;
    overflow-y: auto;
  }

}

.super-admin-dashboard-stats {
  grid-column: span 2;
  @include flexbox(column, flex-start, flex-start);
  gap: 2rem;

  .total-admins {
    @include flexbox(row, flex-start, center);
    gap: 2rem;
    background-color: var(--color-bg-container);
    @include box-shadow;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    border-radius: 1em;

    .total-icon {
      $size: 78px;
      background-color: var(--extra-color);
      border-radius: 50%;
      width: $size;
      height: $size;
      padding: 1rem;
      font-size: 2rem;
      @include flexbox(row, center, center);
      color: var(--color-primary)
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 4rem;
      font-weight: 600;
      color: var(--color-primary)
    }
  }
}

@media screen and (max-width: 1024px) {
  .super-admin-dashboard {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1rem;
    height: calc(100vh - #{$navbar-height});
  }

  .super-admin-dashboard-table {
    grid-column: span 1;
    height: calc(100vh - #{$navbar-height});
    overflow: hidden;
    padding: 1.5rem;
  }

  .super-admin-dashboard-table .issues-table-wrapper {
    overflow-y: auto;
  }

  .super-admin-dashboard-stats {
    grid-column: span 1;
  }
}
