@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.super-admin-audit-log {
  color: var(--text-main);
  padding: 2rem;
  height: calc(100vh - #{$navbar-height});
  overflow: auto;

}

.super-admin-audit-log-table {
  background-color: var(--color-bg-container);
  @include box-shadow;
  border-radius: 1em;
  height: 100%;
  padding: 3rem;
}

.audit-log-details {
  max-width: 600px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}