@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.admin-dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 2.5rem;

  div {
    background-color: var(--color-bg-container);
    border-radius: 1em;
  }

  .stats-card {
    grid-column: span 1;
    color: var(--text-main);
    padding: 1rem 2.5rem;
    min-height: 150px;
    @include flexbox(row, flex-start, center);
    gap: 3rem;

    .stats-icon {
      background-color: var(--hover-color);
      border-radius: 50%;
      width: 64px;
      height: 64px;
      padding: 1rem;
      font-size: 1.5rem;
      @include flexbox(row, center, center);
    }

    h1 {
      font-size: 1.2rem;
    }

    h2 {
      font-size: 3rem;
      font-weight: 600;
    }
  }

  .admin-bar {
    grid-column: span 2;
    min-height: 400px;
    padding: 1rem 0;
    padding-right: 3rem;
  }

  .admin-pie {
    grid-column: span 1;
    grid-row: span 2;
    padding: 1rem 0;

  }

  .dashboard-issues {
    width: 100%;
    grid-column: span 2;
    min-height: 400px;
    padding: 2rem;
    @include flexbox(column, flex-start, flex-start);
    gap: 1rem;
  }

  .issue-list-header {
    width: 100%;
    color: var(--text-main);
    @include flexbox(row, space-between, center);
  }


  .issue-list-item-container {
    border-bottom: none !important;
  }

  .issue-list {
    height: 300px !important;
    width: 100%;
    overflow-y: auto;

    .issue-list-item {

      div {
        background-color: inherit;
      }

      @include flexbox(column, flex-start, flex-start);
      gap: 0.4rem;
      padding: 1rem;
      cursor: pointer;
      background-color: var(--card-color);
      color: var(--text-main);
      width: 100%;

      p {
        margin-bottom: 0;
        color: var(--text-secondary);
      }


      .content-div {
        @include flexbox(column, flex-start, flex-start);
        gap: 0.6rem;
        width: 100%;
        background-color: inherit;

        h2 {
          font-weight: 600;
          font-size: 1.4rem;
        }

        .description {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 70%;
        }

        .issue-bottom {
          @include flexbox(row, space-between, center);
          width: 100%;

          div {
            @include flexbox(row, flex-start, flex-start);
            gap: 0.5rem;
          }

        }
      }

      .impact-tag, .urgency-tag {
        &.low {
          color: #2d6a2d;
          background: #c8f7c5;
          border: none;
        }

        &.medium {
          color: #856404;
          background: #fff3cd;
          border: none;
        }

        &.high {
          color: #8a2d2d;
          background: #f7c5c5;
          border: none;
        }
      }
    }
  }

  .dashboard-title {
    font-size: 1.5rem;
    color: var(--text-main);
    font-weight: 600;

  }
}
