@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.admin-all-issues {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 2rem;
  height: 100%;

  @media screen and (max-width: 1280px) {
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
    padding: 1.5rem 1rem;
    row-gap: 1.5rem;
  }

  .admin-all-issues-main {
    grid-column: span 2;
    height: calc(100vh - #{$navbar-height} - 6.8rem);
    @include flexbox(column, flex-start, flex-start);
    gap: 1rem;
    color: var(--text-title);

    @media screen and (max-width: 1280px) {
      grid-column: span 1;
    }

    @media screen and (max-width: 1024px) {
      grid-column: span 1;
      width: 100%;
      height: auto;
    }

    .admin-all-issues-body {
      height: 100%;
      width: 100%;
      padding: 2rem 1rem;
      border-radius: 1em;
      @include box-shadow;
      background-color: var(--color-bg-container);
      @include flexbox(column, flex-start, flex-start);
      gap: 1rem;
      color: var(--text-main);

      @media screen and (max-width: 1024px) {
        padding: 1rem;
      }

      .admin-all-issues-header {
        @include flexbox(row, space-between, center);
        gap: 1rem;
        color: var(--text-title);
        font-size: 0.9rem;
        font-weight: 600;

        div {
          $size: 28px;
          background-color: var(--extra-color);
          padding: 0.5rem;
          border-radius: 50%;
          width: $size;
          height: $size;
          @include flexbox(row, center, center);
          font-size: 1.1rem;


        }
      }
    }
  }

  .admin-all-issues-search {
    grid-column: span 1;
    padding: 2rem 1rem;
    @include flexbox(column, flex-start, flex-start);
    max-height: calc(100vh - #{$navbar-height} - 4.1rem);
    gap: 3rem;
    color: var(--text-title);
    @include box-shadow;
    background-color: var(--color-bg-container);
    border-radius: 1em;
    height: 100%;

    @media screen and (max-width: 1280px) {
      max-height: unset;
      height: auto;
    }

    @media screen and (max-width: 1024px) {
      display: none;
    }

    .search-bar {
      @include flexbox(row, space-between, center);
      background-color: var(--extra-color);
      width: 100%;
      padding: 0.4rem 1rem;
      border: 1px solid var(--color-primary);
      border-radius: 8px;

      .anticon {
        font-size: 1.5rem;
      }

      input {
        height: 40px;
        width: calc(100% - 4.5rem);
        background-color: inherit;
        outline: none;
        border: none;
        font-size: 1rem;
        color: var(--text-main);

        @media screen and (max-width: 480px) {
          font-size: 0.9rem;
        }
      }
    }
  }
}

.custom-checkable-tag {
  background-color: var(--extra-color);
  color: var(--text-main);
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  margin-bottom: 0.5rem;

  @media screen and (max-width: 480px) {
    font-size: 0.85rem;
    padding: 0.2rem 0.4rem;
  }
}

.custom-checkable-tag.ant-tag-checkable-checked {
  background-color: var(--color-primary);
  color: var(--button-text-bg);
}

