@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.admin-dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 2.5rem;

  div {
    background-color: var(--color-bg-container);
    border-radius: 1em;
  }

  .stats-card {
    grid-column: span 1;
    color: var(--text-main);
    padding: 1rem 2.5rem;
    min-height: 150px;
    @include flexbox(row, flex-start, center);
    gap: 3rem;
    box-shadow: 0 7px 10px var(--shadow-color);

    .stats-icon {
      background-color: var(--extra-color);
      border-radius: 50%;
      width: 64px;
      height: 64px;
      padding: 1rem;
      font-size: 1.5rem;
      @include flexbox(row, center, center);
      color: var(--color-primary);
    }

    h1 {
      font-size: 1.2rem;
      color: var(--text-main)
    }

    h2 {
      font-size: 3rem;
      font-weight: 600;
      color: var(--color-primary);
    }
  }

  .admin-bar {
    grid-column: span 2;
    min-height: 400px;
    padding: 1rem 0;
    padding-right: 3rem;
    box-shadow: 0 7px 10px var(--shadow-color);
  }

  .admin-pie {
    grid-column: span 1;
    grid-row: span 2;
    padding: 1rem 0;
    box-shadow: 0 7px 10px var(--shadow-color);

  }

  .dashboard-issues {
    width: 100%;
    grid-column: span 2;
    min-height: 400px;
    padding: 2rem;
    @include flexbox(column, flex-start, flex-start);
    gap: 1rem;
    color: var(--text-title);
    box-shadow: 0 7px 10px var(--shadow-color);
    max-height: 500px;

  }

  .issue-list-header {
    width: 100%;
    color: var(--text-main);
    @include flexbox(row, space-between, center);
  }


  .dashboard-title {
    font-size: 1.5rem;
    color: var(--text-title);
    font-weight: 600;

  }
}
