@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.admin-dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 2.5rem;
  height: calc(100vh - #{$navbar-height} - 1rem);
  overflow: auto;

  div {
    background-color: var(--color-bg-container);
    border-radius: 1em;
  }

  .stats-card {
    grid-column: span 1;
  }

  .admin-bar {
    grid-column: span 2;
    min-height: 400px;
    padding: 1rem 0;
    padding-right: 3rem;
    width: 100%;
    @include box-shadow;
  }

  .admin-pie {
    grid-column: span 1;
    grid-row: span 2;
    padding: 1rem 0;
    @include box-shadow;
  }

  .dashboard-issues {
    width: 100%;
    grid-column: span 2;
    min-height: 400px;
    padding: 2rem;
    @include flexbox(column, flex-start, flex-start);
    gap: 1rem;
    color: var(--text-title);
    @include box-shadow;
    max-height: 500px;

    .content-div {
      background-color: transparent;

      .issue-bottom, div {

        background-color: transparent;
      }
    }

    .ant-list-item {
      overflow: auto !important;
    }
  }

  .issue-list-header {
    width: 100%;
    color: var(--text-main);
    @include flexbox(row, space-between, center);
  }

  .dashboard-title {
    font-size: 1.5rem;
    color: var(--text-title);
    font-weight: 600;
  }
}

@media screen and (max-width: 1280px) {
  .admin-dashboard {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 2rem;
    padding: 1rem;
  }

  .dashboard-issues {
    height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    grid-column: 1;
    max-width: 100vw;
    padding: 1rem !important;
  }

  .stats-card,
  .admin-bar,
  .admin-pie {
    grid-column: 1;
    width: calc(100vw - 3rem);
    max-width: 100vw;
  }
}

