
.chart-title {
  font-size: 1.5rem;
  color: var(--text-title);
  font-weight: 600;
  margin: 1rem 3rem;
}

.dark-chart-title {
  color: var(--color-primary) !important;
}

.recharts-line path {
  filter: drop-shadow(0px 4px 6px var(--color-primary));
}

.user-chart {

  .recharts-cartesian-axis-line,
  .recharts-cartesian-axis-tick line,
  .recharts-cartesian-axis-tick text {
    stroke: var(--axis-color) !important;
    fill: var(--axis-color) !important;
    font-weight: normal !important;
  }
}
