@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.chart-title {
  font-size: 1.5rem;
  color: var(--text-title);
  font-weight: 600;
  margin: 1rem 2rem;

  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
    margin: 1rem 1rem;
  }
}

.dark-chart-title {
  color: var(--color-primary) !important;
}

.recharts-line path {
  @include box-shadow;
}

.user-chart {


  .recharts-cartesian-axis-line,
  .recharts-cartesian-axis-tick line,
  .recharts-cartesian-axis-tick text {
    stroke: var(--axis-color) !important;
    fill: var(--axis-color) !important;
    font-weight: normal !important;
  }
}

.recharts-surface {
  position: absolute !important;
  left: -20px !important;
}