@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.edit-admin-overlay {
  width: 30%;
  min-height: 250px;
  background-color: var(--card-color);
  color: var(--text-main);
  border-radius: 1em;
  font-size: 1rem;
  @include box-shadow;
  display: flex;
  flex-direction: column;

  .edit-admin-header {
    @include flexbox(row, space-between, center);
    color: var(--text-main);
    border-bottom: var(--text-secondary) solid 0.3px;
    padding: 1rem;
    width: 100%;

    h2 {
      font-size: 1.4rem;
      font-weight: 600;
      color: var(--text-main);
    }

    .cancel-button {
      color: var(--text-main);
      background-color: transparent;
      border: var(--text-secondary) solid 1px;
      border-radius: 8px;
      height: 40px;
      width: 40px;
      cursor: pointer;

      .anticon {
        font-size: 1.4rem;
      }

      &:hover {
        background-color: var(--extra-color);
        color: var(--color-primary);
        border-color: var(--color-primary);
      }
    }
  }

  .edit-form {
    padding: 1.5rem 1rem;
    @include flexbox(column, flex-start, flex-start);
    gap: 1rem;
    width: 100%;

    h2 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
    }


    .ant-input,
    .ant-input-affix-wrapper {
      border: 1px solid var(--text-secondary);
      border-radius: 8px;
      background-color: var(--card-color);
      color: var(--text-main);


      &:hover,
      &:focus,
      &.ant-input-focused {
        border-color: var(--color-primary);
        box-shadow: 0 0 0 2px rgba(var(--color-primary-rgb), 0.2);
      }
    }

    .password-ant-input {
      .ant-input,
      .ant-input-affix-wrapper {
        border: none;

        &:hover,
        &:focus,
        &.ant-input-focused {
          border: none;
        }
      }
    }


    .ant-form-item-label > label {
      color: var(--text-main);
      font-weight: 500;
    }
  }

  .edit-actions-bottom {
    width: 100%;
    @include flexbox(row, space-between, center);
    gap: 1rem;
    color: var(--text-main);

    .cancel-button {
      background-color: inherit;
      flex-grow: 1;
      border: var(--text-secondary) solid 1px;
      height: 40px;
      border-radius: 8px;

      &:hover {
        background-color: var(--extra-color);
        color: var(--color-primary);
        border-color: var(--color-primary);
      }
    }

    .confirm-button {
      flex-grow: 1;
      height: 40px;
    }
  }
}

/* 📱 Responsive adjustments */
@media screen and (max-width: 1024px) {
  .edit-admin-overlay {
    width: 60%;
    font-size: 0.95rem;

    .edit-admin-header h2 {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .edit-admin-overlay {
    width: 90%;
    font-size: 0.9rem;
    border-radius: 0.8em;

    .edit-form {
      padding: 1rem;
    }

    .edit-actions-bottom {
      flex-direction: column;

      .cancel-button,
      .confirm-button {
        width: 100%;
      }
    }
  }
}
