* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--color-bg-base);
  color: var(--text-main);
}

:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.ant-tooltip {

  .ant-tooltip-inner {
    background-color: var(--color-primary) !important;
    color: var(--button-text-bg) !important;
  }

  .ant-tooltip-arrow::before {
    background-color: var(--color-primary) !important;
  }
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--text-secondary) !important;
}

/* For Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--color-bg-container);
}

*::-webkit-scrollbar-thumb {
  background: var(--color-bg-container);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--color-bg-container);
}

/* For Firefox */
* {
  scrollbar-width: thin; /* options: auto, thin, none */
  scrollbar-color: var(--text-main) var(--color-bg-container);
}
