$primary-color: #1877f2;
$button-text-color: #ffffff;
$hover-color: #4B8EFF;
$danger-color: #c71e1e;

$light-text-main: #001a41;
$light-text-title: #001a41;
$light-text-secondary: #7d7d7d;
$light-bg-main: #ffffff;
$light-bg-container: #ffffff;
$light-shadow-color: rgba(131, 154, 199, 0.25);
$light-border-color: rgb(180, 194, 222);
$light-card-bg: #ffffff;
$light-extra-bg: #EDF0FF;

$dark-text-main: #ffffff;
$dark-text-secondary: #b8b8b8;
$dark-text-title: #1877f2;

$dark-bg-main: #03070d;
$dark-bg-container: #13171e;
$dark-shadow-color: #03070d;
$dark-border-color: #03070d;
$dark-card-bg: #202630;
$dark-extra-bg: #202630;

$chart-color1: #002454;
$chart-color2: #00397e;
$chart-color3: #1877f2;

$navbar-height: 120px;