// Text colors
$light-text-main: #000000;
$light-text-secondary: #5E5D5D;
$light-button-text-dark-bg: #FFFFFF;

$dark-text-main: #FFFFFF;
$dark-text-secondary: #c9c8c8;
$dark-button-text-light-bg: #000000;

// Background colors
$color-primary-light: #000000;
$color-bg-base-light: #E4E4E4;
$color-bg-container-light: #FFFFFF;

$color-primary-dark: #ffffff;
$color-bg-base-dark: #000000;
$color-bg-container-dark: #2D2D2D;

$hover-color-light: #E4E4E4;
$hover-color-dark: #757474;

$bar-light-1: #434343;
$bar-light-2: #888888;
$bar-light-3: #323232;
$bar-dark-1: #CECECE;
$bar-dark-2: #505050;
$bar-dark-3: #E4E4E4;
$axis-light: #8f8f8f;
$axis-dark: #cccccc;

$danger-color: #C71E1E;

$sidebar-width: 350px;
$navbar-height: 120px;
