@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.user-dashboard {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 2.5rem;
  height: calc(100vh - #{$navbar-height});

  div {
    background-color: var(--color-bg-container);
    border-radius: 1em;
    width: 100%;
  }

  .stats-card {
    grid-column: span 2;
  }

  .chart {
    grid-column: span 3;
    min-height: 400px;
    @include box-shadow;
  }

  .user-chart {
    border-radius: 20px;
    padding: 1rem;
    width: 100%;
    overflow-x: auto;

    .recharts-tooltip-wrapper {
      max-width: 100px;
    }
  }

  .profile {
    grid-column: 1 / -1;
    min-height: 100px;
    padding: 1.7rem;
    @include box-shadow;
    color: var(--text-title);

    h1 {
      font-size: 3rem;
      letter-spacing: 0.1rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }
}

.stats-card {
  color: var(--text-main);
  padding: 1rem 2.5rem;
  min-height: 150px;
  @include flexbox(row, flex-start, center);
  gap: 3rem;
  @include box-shadow;
  background-color: var(--color-bg-container);
  width: 100%;
  border-radius: 1em;

  .stats-icon {
    background-color: var(--extra-color);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    padding: 1rem;
    font-size: 1.5rem;
    @include flexbox(row, center, center);
    color: var(--color-primary)
  }

  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-primary)
  }
}

@media screen and (max-width: 1024px) {
  .user-dashboard {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 1.5rem;
    padding: 0.8rem;
    height: calc(100vh - #{$navbar-height});
    overflow-y: auto;
    overflow-x: hidden;

    .stats-card {
      padding: 0.8rem 1rem;
      gap: 1rem;
      min-height: 150px;

      .stats-icon {
        width: 48px;
        height: 48px;
        padding: 0.6rem;
        font-size: 1.2rem;
      }

      h1 {
        font-size: 1rem;
      }

      h2 {
        font-size: 2rem;
      }
    }


    .profile {
      padding: 1rem;
      height: auto;

      h1 {
        font-size: 1.25rem;
      }

      h2 {
        font-size: 1rem;
      }
    }
  }
}
