@use '../../base/mixins' as *;
@use '../../base/variables' as *;

.issue-id-single {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-primary);
  padding: 0.5rem 1.5rem;

  @media (max-width: 768px) {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

.issue-comments {
  margin-top: 1rem;
}

.issue-header {
  width: 100%;
  padding: 0 1.5rem 1.5rem;
  @include flexbox(row, space-between, center);
  gap: 1rem;

  .issue-title {
    @include flexbox(row, flex-start, center);
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-main);

    .tag {
      font-size: 0.8rem;
      padding: 0.25rem 0.5rem;
      border-radius: 8px;
    }

  }


  .issue-actions {
    @include flexbox(row, flex-start, center);
    gap: 1rem;

    .issue-action {
      @include flexbox(row, flex-start, center);
      gap: 0.5rem;
      cursor: pointer;
      padding: 0.5rem 2rem;
      border-radius: 8px;
      border: none;
      font-weight: 600;
      color: white;

      &-edit {
        height: 40px;
        background-color: var(--color-primary);
        font-size: 1rem;

        &:hover {
          background-color: var(--hover-color);
        }

        &:active {
          opacity: 0.6;
        }
      }

      &-delete {
        height: 40px;
        background-color: var(--danger-color);
        font-size: 1rem;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 0.6;
        }
      }
    }
  }


  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 1rem 1rem;

    .issue-title {
      font-size: 1rem;
      gap: 0.5rem;
      width: 100%;

      flex-direction: column;
      align-items: flex-start;

      h1 {
        width: 100%;
      }

      .tag {
        font-size: 0.7rem;
        padding: 0.2rem 0.4rem;
      }
    }

    .issue-actions {
      display: none;
    }
  }
}

.issue-details {
  padding: 2.5rem 1rem;
  gap: 4rem;

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-main);

    span {
      color: var(--text-secondary);
      font-weight: 400;
    }
  }

  .issue-description {
    color: var(--text-secondary);
    @include flexbox(column, flex-start, flex-start);
    gap: 1rem;
    font-size: 1.2rem;
    line-height: 1.5;

    .issue-details {
      @include flexbox(column, flex-start, flex-start);
      gap: 2rem;

      .impact-tag, .urgency-tag {
        margin-left: 0.5rem;
        padding: 0.2rem 1rem;
        font-size: 1.2rem;
      }
    }

    .issue-images {
      display: flex;
      gap: 1rem;
      padding: 1rem 0;
      overflow-x: auto;

      .image-wrapper {
        flex: 0 0 auto;
        width: 200px;
        height: 200px;

        .ant-image {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }

  }


  @media (max-width: 1024px) {
    gap: 2rem;
    padding: 1rem;

    .issue-description {
      font-size: 1rem;

      .issue-details {
        gap: 1rem;

        .impact-tag, .urgency-tag {
          font-size: 0.9rem;
          padding: 0.2rem 0.8rem;
        }
      }

      .issue-images {
        width: 100%;

        .image-wrapper {
          width: 150px;
          height: 150px;
        }
      }
    }

    .issue-comments {
      width: 100%;


    }
  }

  @media (max-width: 480px) {
    padding: 0.5rem;

    .issue-description {
      font-size: 0.95rem;

      .issue-images {
        .image-wrapper {
          width: 120px;
          height: 120px;
        }
      }
    }

    h2 {
      font-size: 1.2rem;
    }
  }
}

.view-btn {
  background-color: transparent !important;
  color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  font-size: 1rem;

  &:hover {
    color: var(--button-text-bg) !important;
    border-color: var(--color-primary) !important;
    background-color: var(--color-primary) !important;
  }
}

.delete-btn {
  background-color: var(--danger-color) !important;
  border-color: var(--danger-color) !important;
  color: var(--button-text-bg);

  &:hover {
    opacity: 0.8;
    color: var(--button-text-bg) !important;
  }
}

.issue-header-mobile {
  @include flexbox(row, space-between, center);
  width: 100%;
  padding: 0.5rem 1rem 0 0;

  h2 {
    width: fit-content !important;
  }
}