@use '../../base/variables' as *;
@use '../../base/mixins' as *;
@use 'sass:color';

.issues-container {
  position: relative;
  width: 94%;
  height: calc(100vh - #{$navbar-height} - 4rem);
  margin: 2rem auto 0;
  padding: 2rem;
  background-color: var(--color-bg-container);
  color: var(--text-main);
  border-radius: 1.5em;
  box-shadow: 0 7px 10px var(--shadow-color);


  .issues-actions {
    @include flexbox(row, space-between, center);
    padding: 2rem 0.5rem;

    .issues-filter {
      background-color: var(--hover-color);
      border-radius: 8px;

      .anticon,
      .anticon-down {
        color: var(--text-main) !important;
      }

      .ant-select-selector {
        background-color: var(--extra-color) !important;
        color: var(--text-main) !important;
        border: none !important;
      }

      .ant-select-selection-item {
        color: var(--text-main) !important;
      }
    }


    .add-issue {
      @include flexbox(row, center, center);
      border-radius: 8px;
      border: none;
      background-color: var(--color-primary);
      color: var(--button-text-bg);
      height: 50px;
      font-size: 1.2rem;
      padding: 0 2rem;
      gap: 1rem;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  .ant-select-dropdown {
    background-color: var(--extra-color) !important;

    .ant-select-item-option {
      color: var(--text-main) !important;


      &.ant-select-item-option-selected {
        background-color: var(--color-primary) !important;
        color: var(--text-main) !important;
      }
    }
  }

}

