@use '../../base/mixins' as *;
@use '../../base/variables' as *;

.issue-id-single {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-primary);
  padding: 0.5rem 1.5rem;
}

.issue-header {
  width: 100%;
  padding: 0 1.5rem 1.5rem;
  @include flexbox(row, space-between, center);
  gap: 1rem;


  .issue-title {
    @include flexbox(row, flex-start, center);
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-main);

    .tag {
      font-size: 0.8rem;
      padding: 0.25rem 0.5rem;
      border-radius: 8px;
    }
  }

  .issue-actions {
    @include flexbox(row, flex-start, center);
    gap: 1rem;
    font-size: 1.2rem;
    color: var(--text-main);

    .issue-action {
      @include flexbox(row, flex-start, center);
      gap: 0.5rem;
      cursor: pointer;
      padding: 0.5rem 2rem;
      border-radius: 8px;
      border: none;
      font-weight: 600;
      color: white;

      &-edit {
        background-color: var(--color-primary);

        &:hover {
          background-color: var(--hover-color);
        }

        &:active {
          opacity: 0.6;
        }
      }

      &-delete {
        background-color: var(--danger-color);

        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 0.6;
        }
      }
    }
  }
}

.issue-description {
  padding: 2.5rem 1rem;
  color: var(--text-secondary);
  @include flexbox(column, flex-start, flex-start);
  gap: 1rem;
  font-size: 1.2rem;

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-main);

    span {
      color: var(--text-secondary);
      font-weight: 400;
    }
  }

  .issue-details {
    h2 {
      padding-bottom: 1rem;
    }
  }

  p {
    line-height: 1.4;
  }

  .issue-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    padding: 1rem 0;

    .image-wrapper {
      position: relative;
      width: 100%;
      aspect-ratio: 1 / 1;
      overflow: hidden;

      .ant-image {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

    }
  }

}
